.microphone-container{
  position:absolute;
  top: calc(100%  - 600px);
  left: calc(90% - -70px);
}

.button-mic {
   background-color: #1e68c9;
   color: white;
    height:45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: -18px 18px 12px -5px rgba(0, 0, 0, 0.78);
    -webkit-box-shadow: -18px 18px 24px -5px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: -18px 18px 24px -5px rgba(0, 0, 0, 0.78);
    }

.mic-active::before{
  content: "";
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  position: absolute;
  border: 1px solid #6e6a6a;
  border-radius: 50%;
}  

.mic-active::after{
  content: "";
  position: absolute;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 1px solid #6e6a6a;
  border-radius: 50%;
  animation-delay: 0.4s;
}

.mic-active {
    animation: animate 1.5s linear infinite;
}


@keyframes animate {
    0% {
      background-color: green;
        transform: scale(0.5);
        opacity: 0;
      }
      50% {
        transform: scale(1);
        opacity: 1;
      }
      100% {
        transform: scale(1.4);
        opacity: 0;
      }
}
